body{
    background-color: rgba(21, 21, 148, 0.815);
}

.card {
    margin-top: 5%;
}

.login_form{
    padding-top: 18%;
}

.separator{
    border-bottom: 2px solid black;
}

#password_show:hover{
    cursor: pointer;
}

img{
    /* opacity: 1; */
    mix-blend-mode: difference;
}

.login_img:hover{
    /* opacity: 0.8; */
    transition: transform 0.3s ease-out; 
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}